[Unit]
Description=Tee Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ec2-user
ExecStart=/home/ec2-user/.cargo/bin/sp1-tee-server
Restart=always
RestartSec=5s
KillSignal=SIGINT
EnvironmentFile=/home/ec2-user/.env 

[Install]
WantedBy=multi-user.target
